.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 60px;
}

.form-small-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 25px;
}

.form-big-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;
}

.select {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #0c2033;
}